{% extends 'base.html' %}
{% block title %}
    <title>Create Course</title>
{% endblock title %}

{% block header %}
    <header>
        {{ name }}
    </header>
{% endblock header %}

{% block article %}
    <article>
        <form method="post" target="_self">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="text-align: center;">
                <input type="submit" value="Save" style="padding: 10px 20px;
            font-size: 1rem;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;">
            </div>
        </form>
    </article>
{% endblock article %}