{% extends 'base.html' %}
{% block title %}
    <title>Teachers</title>
{% endblock title %}

{% block header %}
    <header>
        {{ name }}
    </header>
{% endblock header %}
{% block search %}
    <div class="search-container">
        <form action="{% url 'search-teacher' %}" method="get">
            <input type="text" placeholder="Search..." name="q">
            <button type="submit">Search</button>
        </form>
    </div>
{% endblock search %}

{% block article %}
    <article>
        <table>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Age</th>
                <th colspan="2">Action</th>
            </tr>
            {% for teacher in teachers %}
                <tr>
                    <td>{{ teacher.id }}</td>
                    <td>{{ teacher.first_name }}</td>
                    <td>{{ teacher.last_name }}</td>
                    <td>{{ teacher.email }}</td>
                    <td>{{ teacher.age }}</td>
                    <td><a href="{% url 'edit-teacher' teacher.id %}">Edit</a></td>
                    <td>
                        <a
                                onclick="return confirm('Do you really to delete this teacher!')"
                                href="{% url 'delete-teacher' teacher.id %}">Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form method="get" action="{% url 'create-teacher' %}">
            <input type="submit" value="ADD"
                   style="background-color: skyblue; border-radius: 10px; font-size: 40px; display: block; margin: 0 auto; width: 100px;">
        </form>
    </article>
{% endblock article %}